<div class="footer-lower">
    <div class="d-flex align-items-center flex-column justify-content-around">
      <small class="text-white"><a href="/pages/privacy-policy">Privacy Policy</a> | <a>Disclaimer</a></small>
      <small class="text-white">{{ 'now' | date: "%Y" }} {{ shop.name | link_to: '/' }}, Inc. {{ 'layout.footer.copyright' | t }}</small>
    </div>
  </div>
