 {% comment %} THIS IS UNUSED - JO does not want his feed on page. <div id="evm-instagram-feed"></div><script src="https://expertvillagemedia.com/instagramfeed/embed.js" data-shop-id="pangea-dev.myshopify.com"></script> {% endcomment %}

<div id="instafeed" class="row"></div>
{% raw %}
<script type="text/javascript">
    var userFeed = new Instafeed({
        get: 'user',
        template: '<div class="col-4 col-md-2 founder-instagram-image" style="padding:1em;"><img src="{{image}}" /><a href="{{link}}" target="_blank" class="instagram-feed-link"><div class="instagram-overlay-icon"><img src="https://cdn.shopify.com/s/files/1/0013/5531/7307/files/instagram-logo.png?7050140443920899339"></div></a><small>{{caption}}</small></div>',
        userId: '297668247',
        accessToken: '297668247.71b1142.d892bd0eadfc4f539c6636a6c48b0ebd',
        resolution: 'standard_resolution',
        limit: 6,
        links: true
    });
    userFeed.run();
</script>
{% endraw %}

{% schema %}
  {
    "name": "Pangea Founder Insta",
    "settings": []
  }
{% endschema %}
