/* note - updating will require reseting this sheetin the app */
#map-locator {
  max-width: 1024px !important;
}

#store-search-form {
  background-color: #fff;
  border-radius: 0;
  border: none;
  font-family:'DIN';
  margin-bottom: 14px;
  margin-top: 20px;
}
.store {
  font-family:'DIN';
  /* border: none; */
}

#store-search-form form {
  /* justify-content: center;
  padding: 18px 0;
  display: flex;
  align-items: center; */
}

#store-search-form .form-group {
  margin-bottom: 15px;
  /* width: 25%; */
}

#store-search-form .form-group div{
  /* width:100%; */
}

.list-unstyled li li:first-child strong{
  text-transform: uppercase !important;
  margin-bottom: 10px;
  display: block;
}

.list-unstyled li li:first-child:before{
  ontent: "\f0f7";
  position: absolute;
  height: 18px;
  width: 12px;
  left: 0px;
  font-family: 'fontawesome';
}

#store-list {
  border: none !important;
}

.list-unstyled li li:last-child{
  margin-top:10px;
}
.list-unstyled li li:last-child a{
  display:block;
  padding:0px;
  color:#000;
  margin-left:-17px;
}
.list-unstyled li {
  padding-left:10px;
}

#store-search-form .form-control {
  border-radius: 0;
  /* border: none; */
}
#radius {
  /* max-width: 100px; */
}
#store-search-form button {
  margin: 13px 0 17px 1px;
  background: #000;
  border: none;
  border-radius: 0;
  outline: none;
}
#store-search-form button:hover, #store-search-form button:focus {
  margin: 13px 0 17px 1px;
  background: #000;
  border: none;
  border-radius: 0;
  outline: none;
}
