{% layout 'theme' %}
{% section "pre-header" %}
{% section 'header-about-pangea' %}
<div class="contained">
  <div class='container pagestd'>
  {{ page.content }}
  </div>
</div>
{% include 'multicontactform' %}
