{% layout 'theme' %}
<div class="">
{% section "pre-header" %}
  {% section 'header-founder' %}
  {% section 'founder-content' %}
  {% comment %} {% section 'instagram-founder' %} {% endcomment %}
  {% section 'brand-nav-founder' %}
  {% section 'static-page-signposts' %}
</div>
